version: '3.8'

services:
  conductor-server:
    image: conductoross/conductor-standalone:3.15.0
    container_name: conductor-server
    environment:
      - server.address=0.0.0.0
      - server.port=8080
      - CONFIG_PROP=conductor-config.properties
      - conductor.redis-lock.server-type=single
      - conductor.redis-lock.server-address=redis://redis:6379
    ports:
      - "8080:8080"
      - "5000:5000"
    volumes:
      - ./conductor-config.properties:/app/config.properties
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      postgres:
        condition: service_healthy
      opensearch:
        condition: service_healthy
      redis:
        condition: service_healthy

  postgres:
    image: postgres
    container_name: postgres
    environment:
      - POSTGRES_DB=conductor
      - POSTGRES_USER=conductor
      - POSTGRES_PASSWORD=conductor
    ports:
      - "5442:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U conductor" ]
      interval: 5s
      timeout: 5s
      retries: 5

  opensearch:
    image: opensearchproject/opensearch:latest
    container_name: opensearch
    environment:
      - "discovery.type=single-node"
      - "plugins.security.disabled=true"
      - "OPENSEARCH_INITIAL_ADMIN_PASSWORD=ComplexPassword123!"
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    healthcheck:
      test: [ "CMD", "curl", "-s", "http://localhost:9200/_cluster/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:6.2-alpine
    container_name: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 5

  postgres-db:
    image: postgres
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: saga
      LC_MESSAGES: en_US.UTF-8
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data/pgdata
    restart: unless-stopped

  saga-conductor-demo:
    image: saga-conductor-demo:0.0.1-SNAPSHOT
    build:
      context: .
    ports:
      - 8090:8080
    depends_on:
      postgres:
        condition: service_healthy
      postgres-db:
        condition: service_healthy
      opensearch:
        condition: service_healthy
      redis:
        condition: service_healthy
      conductor-server:
        condition: service_healthy

volumes:
  pgdata:
